.header-logo{
    float: left;
}
li{
    float: left;
    list-style: none;
}
.header{                     /* this should be at top(0) and shouldn't shift {position=fixed} this should also cover all the top part of the page {width=100%} and it should not expand to the whole page, only 20% */
    background-color:greenyellow;
   
    top: 0;
    width:100%;
    height: 20%;
}