body{
font-family:sans-serif;     
}

.header{                     /* this should be at top(0) and shouldn't shift {position=fixed} this should also cover all the top part of the page {width=100%} and it should not expand to the whole page, only 20% */
    background-color: blue;
    position:fixed;
    top: 0;
    width:100%;
    height: 20%;
}

/* this should be at middle(that is , start after the 20% of the page, from top) and shouldn't shift {position=fixed} this should also cover all the medium part of the page {width=100%} and it should not expand to the whole page, only 50% */

.body{
    background: red;
    position: fixed;
    top: 20%;
    height:50%;
    width: 100%;
}

/* this should be at bottom(0) and shouldn't shift {position=fixed} this should also cover all the bottom part of the page {width=100%} and it should not expand to the whole page, only 30% */

.footer{
    font-family: monospace;
    color:white;
    font-size: 15px;
    background-color: black;
    height:30%;
    width: 100%;
    position: fixed;
    bottom: 0;
}